---
import { AUTHOR } from "../consts"
---

<footer>
  <div class="mt-16 flex flex-col items-center font-custom">
    <div class="mb-2 flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
      <div>{AUTHOR}</div>
      <div>{`© ${new Date().getFullYear()}`}</div>
    </div>
  </div>
</footer>
